/* About.css */

.AboutPage{
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/6070384/pexels-photo-6070384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 200vh;
  color: black;
  
}
.container {
  padding: 50px;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  
}

ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
}

li {
  margin-bottom: 10px;
}